
@model Ejercicio4.EF.MVC.Models.ProductsView

@{ ViewBag.Title = "Insert"; }

<h1>Ingresa o modifica un nuevo Producto</h1>
<br />
<p>Para insertar no complete el id</p>
<p>Para Modificar complete todos los campos + el id que desea modificar</p>
<br />

@using (Html.BeginForm("Insert", "Products", FormMethod.Post))

{

<label>ID: </label>@Html.TextBoxFor(r => r.ID)
 <label>Descripción: </label>@Html.TextBoxFor(r => r.nombreProdu)
  <label>Precio: </label>@Html.TextBoxFor(r => r.precio)
  <input type="submit" class="btn btn-success" value="Guardar" />
}


