
@model Ejercicio4.EF.MVC.Models.ProductsView

@{
    ViewBag.Title = "Insert";
}

<h1>Ingresa un nuevo Producto</h1>
<br />
@using (Html.BeginForm("Insert", "Products", FormMethod.Post))

{

    <label>Descripción: </label>@Html.TextBoxFor(r => r.ID)
    <label>Descripción: </label>@Html.TextBoxFor(r => r.NombreProdu)
    <label>Precio: </label>@Html.TextBoxFor(r => r.Precio)
    <input type="submit" class="btn btn-success" value="Guardar" />
}


